.card {
  background-color: var(--color-blue-4);

  /* 396px */
  width: 24.75rem;
  border-radius: var(--rounded-xs);
  display: flex;
  flex-direction: column;
  padding: 2.625rem 1.375rem;
  gap: 1.375rem;
  align-items: center;
  justify-content: center;
}

.card-title {
  color: var(--color-grey-0);
}

@media (max-width: 640px) {
  .card {
    /* 296px */
    width: 18.5rem;
  }
}